.map-view {
  .leaflet-container {
    height: 100vh;

    .leaflet-control-container {

      .leaflet-control {

        a {
          color: $content-text-secondary;
        }

        &.leaflet-control-locate,
        &.leaflet-control-info {
          &, a {
            background: $content-background;
            border-radius: 50%;

            &.custom-control-button {
              font-size: 19px;
              line-height: 26px;

              &:hover {
                background: $list-view-item-hover;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width : $breakpoint) {
  .map-view {
    .leaflet-bottom {
      bottom: 20px;
    }
  }
}

.language-changer {
  position: fixed;
  right: 50px;
  top: 14px;
  display: flex;
  justify-content: space-between;
  z-index: 1000;

  :hover {
    cursor: pointer;
  }
  a {
    color: black;
  }
}
