.search-bar {
  height: 100%;
  flex: 1;

  &__input {
    padding: $gap $gap;
    background: $ui-enabled;
    display: flex;
    align-items: center;

    input[name="search"] {
      flex: 2 1 auto;
      display: inline-block;
      border: 2px solid $ui-enabled;
      border-radius: 30px;
      padding: 0 $gap;
      line-height: 30px;
      height: 34px;

      &:focus {
        box-shadow: 0 0 0 2px $content-background !important;
        outline: none;
      }

      &:disabled:hover {
        cursor: not-allowed;
      }
    }

    label {
      flex: 0 1 auto;
      color: $ui-text;
      padding-right: 6px;
      display: inline-block;
      font-size: 18px;
      line-height: 30px;
      margin: 0;
      width: 24px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .search-results {
    position: fixed;
    top: $header-height - $gap;
    z-index: 1011;
    background: transparent;
    text-align: center;
    padding-right: 50px + 3 * $gap;
    width: 100%;


    &__list {
      background: $content-background;
      padding: $gap;
      box-shadow: 3px 3px 5px #666;//, 0 5px 5px #333, 5px 0 5px #333;

      &:empty {
        padding: 0;
      }
    }

    &__result {
      padding: $gap;
      display: flex;
      align-items: center;
      background: $content-background;
      color: $content-text;
      text-decoration: none !important;
      border-top: 2px solid $status-unknown;

      &-icon {
        flex: 0 1 auto;
        padding-right: $gap;

        img {
          height: 40px;
        }
      }

      &-details {
        flex: 2 1 auto;
        text-align: left;

        &__name {
          font-weight: 700;
        }
      }
    }
  }
}
