.unit-filter {
  width: 100%;
  color: $ui-text;
  background: $ui-content;

  & + & {
    margin-top: -$gap/2;
  }

  .row {
    padding: $gap/2;
  }

  .col-xs-6 {
    padding: 0;

    &:nth-child(even) {
      padding-left: $gap/2;
    }

    &:nth-child(odd) {
      padding-right: $gap/2;
    }
  }

  & &__filter { // Actual filter button
    background: transparent;
    color: $ui-text-disabled;
    padding: 2px $gap;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 999999px;
    font-size: 12px;
    line-height: 1;

    &:active {
      background: $ui-enabled;
      color: $ui-text;
    }

    &-icon {
      padding-right: $gap;
      font-size: 28px;
      line-height: 1;

      span {
        line-height: 28px;
      }
    }


    &.active {
      background: $ui-enabled;
      color: $ui-text;

      &:active {
        background: $ui-disabled;
        color: $ui-text-disabled;
      }
    }
  }
}

@media only screen and (min-width : 350px) {
  .unit-filter {
    & &__filter { // Actual filter button
      font-size: 14px;
    }
  }
}

@media only screen and (min-width : $breakpoint) {
  .unit-filter {
    & &__filter:hover {
      color: $ui-text;
    }

    & &__filter.active:hover {
      color: $ui-text-disabled;
    }
  }
}
