.unit-geometry {
  &__track {
    stroke: $status-unknown;
    stroke-width: 4px;

    // &--unknown {
    // }

    &--good {
      stroke: $status-ok;
    }

    &--satisfactory {
      stroke: $status-average;
    }

    &--unusable {
      stroke: $status-bad;
    }
  }

  &__hilight {
    stroke-width: 7px;
    stroke: $content-text;
  }

  &__click-area {
    stroke-width: 12px;
    opacity: 0;
  }
}
