.unit-popup {
  .leaflet-popup-content-wrapper {
    border-radius: 0;
    padding: 0 0 $gap/2 0;

    .leaflet-popup-content {
      padding: 0;
      margin: 0;
    }
  }

  &__content {
    div {
      padding: $gap/2 $gap;
    }

    &__status {
      background: $status-unknown;
      color: $ui-text;
      text-transform: uppercase;
      font-size: 0.8em;

      &--good {
        @extend .unit-popup__content__status;
        background: $status-ok;
      }

      &--satisfactory {
        @extend .unit-popup__content__status;
        background: $status-average;
      }

      &--unusable {
        @extend .unit-popup__content__status;
        background: $status-bad;
      }
    }

    &__name {
      padding: $gap;
      margin: 0;
      font-family: 'Lato', sans-serif;
    }
  }
}
