.unit-browser {
  position: fixed;
  z-index: 1010;
  padding: $gap $gap 0 $gap;
  background: transparent;
  width: 100%;
  overflow: hidden;

  .unit-browser__content {
    display: none;
  }

  &.expanded {
    background: $ui-background;
    max-height: 90vh;

    .unit-browser__content {
      padding-top: $gap;
      display: block;
      overflow-y: scroll;
      overflow-x: hidden;
    }
  }

  .header {
    width: 100%;
    display: flex;
    margin-bottom: $gap;

    .search-container {
      padding: $gap $gap;
      background: $ui-enabled;
      display: flex;
      align-items: center;
      height: 100%;

      input[name="search"] {
        flex: 2 1 auto;
        display: inline-block;
        border: 2px solid $ui-enabled;
        border-radius: 30px;
        padding: 0 $gap;
        line-height: 30px;
        height: 34px;

        &:focus {
          box-shadow: 0 0 0 2px $content-background !important;
          outline: none;
        }
      }

      label {
        flex: 0 1 auto;
        color: $ui-text;
        padding-right: 6px;
        display: inline-block;
        font-size: 18px;
        line-height: 30px;
        margin: 0;
        width: 24px;

        &:hover {
          cursor: pointer;
        }
      }
    }

    .search-results {
      background: #fff;
      text-align: center;

      &__result {
        padding: 10px 0 10px 0;
        margin: 0 10px 0 10px;
        border-top: #000 solid 1px;
      }
    }

    .toggle-view-button {
      margin-left: $gap;
      height: 50px;
      width: 50px;
      background: $ui-enabled;
      color: $ui-text;
      border: 0;
      font-size: 24px;
      line-height: 24px;
    }

    div {
      flex: 1;
    }

    .search-container {
      flex: 2 0 auto;
    }

  }
}

@media only screen and (min-width : 768px) {
  .unit-browser {
    width: 400px;

    &.expanded {
      height: 100%;
      max-height: 100%;

      .unit-browser__content {
        border-top: 1px solid $ui-enabled;
      }
    }
  }
}
