.unit-filter {
  width: 100%;
  color: $ui-text;
  background: $ui-content;

  .row {
    padding: $gap $gap 0 $gap;
  }

  .col-xs-6 {
    padding: 0 0 $gap;

    &:nth-child(even) {
      padding-left: $gap/2;
    }

    &:nth-child(odd) {
      padding-right: $gap/2;
    }
  }

  & &__filter { // Actual filter button
    background: $ui-disabled;
    color: $ui-text-disabled;
    padding: $gap;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 999999px;

    &:active {
      background: $ui-enabled;
      color: $ui-text;
    }

    &-icon {
      padding-right: $gap;
      font-size: 30px;
      line-height: 1;

      img {
        height: 30px;
      }

      span {
        line-height: 30px;
      }
    }


    &.active {
      background: $ui-enabled;
      color: $ui-text;

      &:active {
        background: $ui-disabled;
        color: $ui-text-disabled;
      }
    }
  }
}

@media only screen and (min-width : $breakpoint) {
  .unit-filter {
    & &__filter:hover {
      color: $ui-text;
    }

    & &__filter.active:hover {
      color: $ui-text-disabled;
    }
  }
}
