.view {
  display: none;

  &.view--selected {
    display: block;
  }

  /**
   * MAP VIEW
   */
  &.map-view {
    .leaflet-container {
      height: 100vh;
    }
  }

  /**
   * LIST VIEW
   */
  &.list-view {
    overflow-y: scroll;

    &#list-view {
      margin-top: $header-height;
    }

    .list-view-item {
      border-bottom: 1px solid #999;
      padding: 10px 0;
    }
  }

  &-popup {

    &__content {

    }

  }
}

@media only screen and (min-width : 768px) {
    .view {
      display: block;
    }

    .header {
      width: 30vw;

      #toggle-view-button {
        display: none;
      }
    }

    .list-view {
      width: 30vw;
      height: 100vh;
      float: left;
    }

    .map-view, .leaflet-container {
      width: 70vw;
      float: right;
    }
}