$disclaimer-height: 24px;
$header-height: 66px;
$gap: 8px;
$breakpoint: 768px;
$marker-height: 36px;

// COLORS
$ui-background: #77d5ed;
$ui-enabled: #038ccc;
$ui-disabled: #59b3dd;
$ui-text: #ffffff;
$status-ok: #72bc3d;
$status-average: #f5c01a;
$status-bad: #f54730;
$status-unknown: #a8b5c2;
$content-background: #ffffff;
$content-text: #333333;
$content-text-secondary: #4d4d4d;

// Lato font
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
