body {
  padding: 0;
  margin: 0;
}

html, body {
  height: 100vh;
  width: 100vw;
}

.header, .footer {
  position: fixed;
  z-index: 1000;
  width: 100%;
}

.header {
  top: 0;
}

.footer {
  bottom: 0;
}

@media only screen and (min-device-width : 768px) {
    .list-container {
      width: 30vw;
      height: 100vh;
      float: left;
    }

    .map-container, .leaflet-container {
      width: 70vw;
      float: right;
    }
}
