.disclaimer {
  min-height: $disclaimer-height;
  position: fixed;
  z-index: 1001;
  bottom: 0;
  width: 100%;

  &__content {
    margin: 0 auto;
    max-width: 75%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    a {
      color: $content-text;
      padding-right: 2px;

      &:hover {
        text-decoration: none;
      }
    }

    a + a {
      &::before {
        content: " | "
      }
    }
  }
}

@media only screen and (min-width : $breakpoint) {
  .disclaimer {
    width: initial;
    right: $gap;
    &__content {
      max-width: none;
    }
  }
}
