.header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  background: transparent;
  padding: $gap;
  display: flex;

  .search-container {
    padding: $gap $gap;
    height: 100%;
    background: $ui-enabled;
    display: flex;
    align-items: center;

    input[name="search"] {
      flex: 2 0 auto;
      display: inline-block;
      border: 2px solid $ui-enabled;
      border-radius: 30px;
      padding: 0 $gap;
      line-height: 30px;

      &:focus {
        box-shadow: 0 0 0 2px $content-background !important;
        outline: none;
      }
    }

    label {
      flex: 0;
      color: $ui-text;
      padding-right: 6px;
      display: inline-block;
      font-size: 18px;
      line-height: 30px;
      margin: 0;

      span {
        //vertical-align: middle;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  .toggle-view-button {
    margin-left: $gap;
    height: 50px;
    width: 50px;
    background: $ui-enabled;
    color: $ui-text;
    border: 0;
    font-size: 24px;
    line-height: 24px;
  }

  div {
    flex: 1;
  }

  .search-container {
    flex: 2 0 auto;
  }
}
