.logo {
  position: fixed;
  z-index: 1001;
  bottom: 0;
  width: 100%;
  pointer-events: none;

  h2 {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;

    a {
      color: $content-text;
      pointer-events: auto;
      cursor: pointer;

      &:hover, &:focus {
        text-decoration: none;
      }
    }
  }
}

@media only screen and (min-width : $breakpoint) {
  .logo {
    width: initial;
    right: 36px + $gap;
    bottom: $disclaimer-height + $gap;
  }
}
